<section style="width: 70%; margin: 0 auto">
    <article style="color: white">
        <div style="display: flex; gap: 20px; align-items: center; justify-content: space-between; width: 100%;">
            <h1>List of Characters | API Rick and Morty</h1>
            <div style="display: flex; gap: 5px">
                <div style="display: flex; gap: 5px">
                    <button (click)="form.reset(); loadedCharacters()" class="btn-danger">x</button>
                    <form [formGroup]="form" (ngSubmit)="handleSearch()" style="display: flex; align-items: center; gap: 5px">
                        <input type="text" formControlName="name" placeholder="Search by name">
                        <button type="submit" class="btn-success">Buscar</button>
                    </form>
                </div>
                <div style="margin-left: 20px">
                    <button (click)="handlePreviousPage()" [disabled]="page <= 1">Back</button>
                    <button (click)="handleNextPage()" class="btn-primary">Next</button>
                </div>
            </div>
        </div>
        <div style="display: grid; gap: 50px; grid-template-columns: repeat(3, 1fr);">
            <div *ngFor="let character of characters">
                <app-card-character [character]="character"></app-card-character>
            </div>
        </div>
    </article>
</section>
