header {
    display: flex;
    color: black;
    margin-bottom: 30px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 70%;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 30px;
}