<section style="width: 70%; margin: 0 auto">
    <article style="color: white">
        <div style="display: flex; gap: 20px; align-items: center; justify-content: space-between; width: 100%;">
            <h1>List of Products | Fake API Platzi</h1>
            <button
                (click)="handleModalCreateProduct()"
                style="font-size: 20px; cursor: pointer"
            >Registrar</button>
        </div>
        <div style="display: grid; gap: 50px; grid-template-columns: repeat(3, 1fr);">
            <div *ngFor="let product of products">
                <app-card-product
                    [product]="product"
                    (onDelete)="onDeleteProduct($event)"
                ></app-card-product>
            </div>
        </div>
        <div *ngIf="showModalCreateProduct" class="modal">
            <form [formGroup]="form" (ngSubmit)="onCreateProduct()" class="formModal" style="color:black">
                <h2>Create Product</h2>
                <input type="text" formControlName="title" placeholder="Title" />
                <input type="text" formControlName="price" placeholder="Price" />
                <input type="text" formControlName="description" placeholder="Description" />
                <label for="">
                    <p>Imagen:</p>
                    <input type="file" formControlName="images"/>
                </label>
                <div style="display: flex; gap: 10px;">
                    <button type="submit">Create</button>
                    <button (click)="handleModalCreateProduct()">Cerrar</button>
                </div>
            </form>
        </div>
    </article>
</section>
