<div style="width: 100%;">
    <p style="font-size: 25px; font-weight: bold;">{{product.title}}</p>
    <div style="width: 100%; position: relative; height: 300px;">
        <img 
            [fill]="true"
            [ngSrc]="product.images[0]"
            alt="image product"
            class="image-product"
        >
    </div>
    <div style="display: flex; justify-content: space-between;">
        <button disabled="true">Update</button>
        <button (click)="handleDelete()" class="btn-danger">Delete</button>
    </div>
</div>